#image
{
        box-sizing: content-box;
        width: 70px;
        height: 100px;
        position: relative;
        padding: 0px;
        top: 59px;
        left:50px;
}
#VMlable
{
        box-sizing: content-box;
        width: 200px;
        height: 30px;
        position: relative;
        padding: 0px;
        top: 30px;
        left:170px;
}
#main
{
        background-color: White;
        width: 1330px;
        height:450px;
        border: 1px solid gray;
        padding: 0;
        margin: 25px;
        position: absolute;
        top: 20px;
        right: -1030px;
}
.data
{
  background: White;
  padding:40px;
  width:400px;
  height:200px;
  position: relative;
  top: 80px;
  left: 180px;
  border: solid black;

}
.image
{
  background: White;
  padding:40px;
  width:400px;
  height:200px;
  position: relative;
  top: -210px;
  left: 700px;
  border: solid black;
}

input[type=text]
{
	width=240px;
	text-align:center;
	font-family:'Play' , sans-serif;
	font-size:16px;
	font-weight:200px;
	color:#fff;
  border: 1px solid black;
  color: black;
}
select
{
  padding: 3px 32px;
}
button
{
  background-color: green;
  color: white;
  padding: 5px 25px;
  position: relative;
  left: 620px;
  top: -200px;
  border:none;
  width:150px;
  color:none;
  font-size:16px;
  line-height:25px;
  border-radius:15px;
  cursor:pointer;
}
button:hover

{
	color:#fff;
	background-color:LawnGreen;

}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-row-gap: 30px;
}
